


.livre * {
   
}

.livre {
   border: 1px solid rgba(0, 0, 0, 0.6);
   border-radius: 2px;
   display: flex;
   flex-direction: column;
   border-bottom: 2px solid rgba(14, 63, 61, 0.985);
}

.livre:hover {
   /* scale: 1.02; */
}


.livre .image {
   flex: 1;
   max-height: 300px; 
   height: auto;
   width: auto;
   object-fit: cover;
   border: none; 
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.livre .image:hover {
   object-fit: contain;
   /* scale: 1.4; */
   height: max-content;
   border: 1px solid rgba(0,0,0,0.6);
   padding: 0;
   margin: 0;
}

.livre .infos {
   flex: auto;
   font-family: barlow-medium;
   padding: 0.4em;
   border-radius: 0;
   display: flex;
   flex-direction: column;
   border-top: 1px solid rgba(0, 0, 0, 0.6);
}


.livre .infos .titre{
   flex: 1;
   text-align: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.6);
   font-family: barlow-semi-bold;
   padding: 0.4em;
   padding-top: 0;
   text-transform: uppercase;
   font-size: 1rem;
   max-lines: 1;
   text-overflow: ellipsis;
}


.livre .infos .details {
   
}

.livre .infos .details > div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5em;
}

.livre .infos .details > div label{
   opacity: 0.8;
   color: rgb(7, 41, 83);
}

.livre .infos .details > div div{
   /**/
}


/* ********** purchase ********* */

.purchase-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.prices .old-price {
   text-decoration: line-through;
   color: #e63746;
   margin-right: 0.7em;
   font-size: 0.9em;
}

.prices .new-price {
   color: green;
   font-size: 1.1em;
}

.prices {

}


.add-to-card-button {
   background: none;
   border: none;
}

.add-to-card-button img {
   /* cursor: pointer; */
   width: 30px;
}

.add-to-card-button img:hover {
   scale: 1.3;
}

.disabled {
   opacity: 0.4;
   cursor: default;
}