
/* ----------- navbar ------------ */

.logo {
   height: 40px;
}

.navbar {
   /* height: 40px; */
   /* background-color: rgb(14, 14, 18);
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 0.4em 1em; */
   z-index: 9999;
   background-color: #d1e5ed !important;
   border-bottom: 1px solid rgba(0, 0, 0, 0.467) !important;
   position: relative;
}

.navbar nav {
   /* height: 100%; */
}

.navbar nav * {
   color: rgba(19, 16, 16, 0.908);
   /* border: 1px solid rgba(244, 244, 244, 0.124); */
   cursor: pointer;
   text-decoration: none;
   /* margin-right: 2em;
   padding: 0.4em 1em;
   border-radius: 0.1em; */
}

.navbar nav *:hover{
   color: rgb(14, 14, 18);
}


/* ********* dark button ********************* */

.dark-button, .cart-button {
   background: none;
   border: none;
}

.dark-button img {
   width: 26px;
   cursor: pointer;
}



/* ********* cart ********************* */
.cart-button {
   background: none;
   border: none;
   position: relative;
}

.cart-button img {
   width: 26px;
   cursor: pointer;
}

.cart-button .counter {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: -10px;
   right: -10px;
}

.cart-button .counter span {
   border: 1px solid rgb(94, 42, 42);
   background-color: rgb(185, 72, 76);
   color: white;
   border-radius: 50%;
   width: 3ch;
   font-family: Arial, sans-serif;
   font-size: 12px;
   padding: 0;
   margin: 0;
}