

/* ------------main------------ */
.main {
   flex: 1;
   display: flex;
   justify-content: center;
   padding-top: 2em;
}


/* ----------- navbar ------------ */

.navbar {
   height: 40px;
   background-color: rgb(14, 14, 18);
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 0.4em 1em;
}

.navbar nav {
   /* height: 100%; */
}

.navbar nav * {
   color: rgba(244, 244, 244, 0.908);
   border: 1px solid rgba(244, 244, 244, 0.124);
   cursor: pointer;
   text-decoration: none;
   margin-right: 2em;
   padding: 0.4em 1em;
   border-radius: 0.1em;
}

.navbar nav *:hover{
   background-color: rgba(244, 244, 244, 0.908);
   color: rgb(14, 14, 18);
}


/* ------------------error page----------------- */

.error {
   text-align: center;
}

.error * {
   color: red;
   font-size: 3em;
   font-weight: normal;
   font-family: Barlow, Calibr, Aria, sans-serif;
}

/* ---------tabe ---------- */

table {
   width: 40em;
   border-collapse: collapse;
   font-family: Barlow, Calibri, sans-serif;
   margin-top: 2em;
}

table td, th {
   border: 1px solid rgba(0,0,0,6);
   padding: 0.4em 1em;
}

table thead {
   background-color: lightblue;
}

button {
   padding: 0.5em 1em;
   border: 1px solid black;
   border-radius: 4px;
   width: 180px;
}