

<form>
   <div>
      <label for="">Matricule</label>
      <input type="text" />
   </div>
   <div>
      <label for="">Nom Complet</label>
      <input type="text" />
   </div>
   <div>
      <label for="">Date de naissance</label>
      <input type="date" />
   </div>
   <div>
      <label for="">Sexe</label>
      <div>
         <label for="">
            <input type="radio" name="sexe" value="Homme">
            Masculin
         </label>
         <label for="">
            <input type="radio" name="sexe" value="Homme">
            Feminin
         </label>
      </div>
   </div>

   <div>
      <label for="">Diplômes</label>
      <div>
         <label for="">
            <input type="checkbox" value="Technicien">
            Technicien
         </label>
         <label for="">
            <input type="checkbox" value="Technicien Specialisé">
            Technicien Specialisé
         </label>
         <label for="">
            <input type="checkbox" value="Licence">
            Licence
         </label>
         <label for="">
            <input type="checkbox" value="Master">
            Master
         </label>
         <label for="">
            <input type="checkbox" value="Ingénieur">
            Ingénieur
         </label>
         <label for="">
            <input type="checkbox" value="Doctorat">
            Doctorat
         </label>
      </div>
   </div>

   <div>
      <label for="">Ville</label>
      <select>
         <option value="Errachidia" selected>Errachidia</option>
         <option value="Meknes">Meknes</option>
         <option value="Fes">Fes</option>
         <option value="Rabat">Rabat</option>
         <option value="Casablanca">Casablanca</option>
         <option value="Essaouira">Essaouira</option>
      </select>
   </div>

   <div>
      <button>Submit</button>
   </div>
</form>